<div class='duration-bar'>
  <div class='position-bar' style="{{safe-style width=progressPercent}}"></div>
</div>

<div class='timings'>
  {{#if isLoaded}}
    <span class="left">{{format-seconds position}}</span>
    <span class="center">{{format-seconds duration}}</span>
    <span class="right">{{format-seconds remaining}}</span>
  {{/if}}
</div>
