body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  background: #2c3145;
  color: white;
  position: relative;
}

ul.button-group {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 0px;

  li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;

    button {
      margin: 0px;
      border-radius: 0px;
      border-right: 1px solid #bbb;
    }
  }

  li:first-child button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  li:last-child button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#player_controls_bg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
  background: #353a50;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  z-index: 1;
}

#content {
  margin-top: 150px;
  padding: 20px;
  color: white;
}

#settings {
  float: right;
}

.settings-row {
  padding-bottom: 20px;
}

.settings-label {
  display: inline-block;
  width: 150px;
}

ul.media-list {
  list-style-type: none;
  padding: 0px;

  li {
    margin: 0.2em 0px;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  button {
    border: 1px;
    border-radius: 4px;
    padding: 4px 8px;
  }
}

button {
  border: 1px;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0px 4px;

  &:hover {
    background: white;
  }

  &:active {
    background: gray;
  }

  &:active[disabled] {
    background: white;
  }
}

.actions {
  float: right;
  position: relative;
}

.player-controls {
  background: rgba(48, 48, 54, 0.8);
  border-radius: 4px;
  border-bottom: 1px solid rgba(26, 26, 28, 0.4);
  color: white;
  padding: 20px;

  .header {
    height: 35px;

    .now-playing {
      float: left;
      font-size: 18px;
      line-height: 34px;
    }

    .playback-controls {
      float: right;
    }
  }
}

.playback-bar {

  &.is-loaded .duration-bar {
    cursor: pointer;
    background: white;
  }

  &.is-loaded .duration-bar:hover {
    background: rgb(199, 215, 252);

    .position-bar {
      background: rgb(59, 81, 138);
    }
  }

  .duration-bar {
    margin: 10px 0px;
    background: gray;
    width: 100%;
    height: 16px;
    transition: background 0.2s;

    .position-bar {
      cursor: pointer;
      background: rgb(75, 101, 166);
      height: 16px;
      transition: background 0.2s;
    }
  }

  .timings {
    width: 100%;
    height: 1em;

    .left {
      float: left;
      width: 33.33333%;
      text-align: left;
    }

    .center {
      float: left;
      width: 33.33333%;
      text-align: center;
    }

    .right {
      float: left;
      width: 33.33333%;
      text-align: right;
    }
  }
}

.message {
  padding: 1em;
  margin: 1em;
}

.message-bad {
  background: rgb(231, 156, 156);
  color: rgb(80, 18, 18);

  a, a:visited {
    color: black;
  }
}

.message-good {
  background: rgb(166, 231, 156);
  color: rgb(26, 78, 18);

  a, a:visited {
    color: black;
    text-decoration: underline;
  }
}
