<h1>Media</h1>

<ul>
  {{#each model as |mediaFile|}}
    <li>
      {{mediaFile.source}}
      <button {{action "play" mediaFile.source}}>Play</button>
      <button {{action "delete" mediaFile}}>Delete</button>
    </li>
  {{/each}}
</ul>

{{#file-upload name="media" onfileadd=(route-action "uploadMedia") as |queue|}}
  <a class="button">
    {{#if queue.files.length}}
      Uploading...
    {{else}}
      Upload file
    {{/if}}
  </a>
{{/file-upload}}
